@model IEnumerable<Lab_23.Models.Users>

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@ViewBag.Error

<form action="UserLogin" method="post">
    <table>
        <tr>
            <th>
                Username:<br />
            <th>
                <input type="text" name="UserName"  />
            </th>
        </tr>
        <tr>
            <th>
                Password:<br />
            </th>
            <th>
                <input type="password" name="Password" />
            </th>
        </tr>
        <tr>
            <th>
                <input type="submit" value="Login" />
            </th>
        </tr>
    </table>
</form>
