@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Login" asp-action="UserLogin">Login</a> | 
    <a asp-controller="Login"asp-action="Register">Register</a>
</div>
